html,
body,
#app {
  height: 100%;
  color: $color-content;
  font-size: $font-medium;
}
img {
  vertical-align: top;
}
input {
  border: none;
  width: 100%;
  &:focus-visible {
    outline: none;
  }
}
textarea {
  border: none;
  width: 100%;
  resize: none;
  outline: none;
}
